


    
    margin: 0;
    padding: 0;



.cabecalho {

    background-color: #FFD058;
    color: white;
    display: flex;
    justify-content: space-around;
}

.cabecalho-imagem{
    width: 20%;
}

.cabecalho-lista-item{
    display: inline-block;
    margin: 0 16px;
    font-size: 24px;
}

.escola-imagem{
    width: 25%;
}

.escola{
    background-image: linear-gradient(#FFD058,#CCC585);
    color: white;
    display: flex;
}

.escola-div-conteudo